{% extends "leather/base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}


    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
    					{% if process == "connect" %}
        			
            				<h2>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h2>
        				
        					<p>
            					{% blocktrans with provider.name as provider %}Вы собираетесь подключить новую стороннюю учетную запись из {{ provider }}.{% endblocktrans %}
        					</p>
    					{% else %}
        			
            				<h2>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h2>
        			
        					<p>
            					{% blocktrans with provider.name as provider %}Вы собираетесь подключить новую стороннюю учетную запись из {{ provider }}.{% endblocktrans %}
        					</p>
    					{% endif %}
    						{% element form method="post" no_visible_fields=True %}
        					{% slot actions %}
            				{% csrf_token %}
            				<div class="col-md-12 form-group p_star">
                                <button type="submit" class="btn_3">
                					{% trans "Continue" %}
            					</button>	
							</div>
        					{% endslot %}
    						{% endelement %}
    					</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">

    					</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    					
    					
{% endblock content %}
